.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 450;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .85rem;
    box-shadow: 0 0 5px #d3d3d3;
    border-radius: 0 0 .5rem .5rem;
}

.title {
    font-size: .85rem;
    margin-bottom: .85rem;
    cursor: pointer;
    user-select: none;
}