.wrapper {
    display: flex;
    height: 100vh;
}

.leftSide {
    width: 15vw;
    background-image: linear-gradient(#3184ED, #53C5F1);
}

.leftInside {
    margin: 1.5em;
}

.rightSide {
    width: 85vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 35%;
}

.title {
    text-align: center;
    color: #2d2d2d;
    font-size: 1.8rem;
}

.form {
    margin: 5rem 0;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
}