.button {
    background-image: linear-gradient(to right, #50c0f1, #2f80ed);
    padding: 0.5em 3em;
    border-radius: 2em;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}

.button:focus
.button:active {
    border: none;
    outline: none;
}