.box {
    margin-top: 1.5rem;
}

.fieldBlock {
    position: relative;
    margin-bottom: 1.5em;
}

.field,
.field:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #cdcdcd;
}

.field {
    color: black;
    line-height: 2.5em;
    width: 100%;
    box-sizing: border-box;
}

.field::placeholder {
    color: #cdcdcd;
}

.toolPanel {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.buttonList {
    display: flex;
}

.sendButton {
    color: #2F80ED;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}

.sendButton,
.sendButton:active,
.sendButton:focus {
    border: none;
    outline: none;
}