.wrapper {
    position: relative;
}

.box {
    position: absolute;
    right: 0;
    top: .5rem;
    background-color: white;
    box-shadow: 0 0 4px gray;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    z-index: 300;
    color: black;
}

.item {
    white-space: nowrap;
    font-size: .8rem;
    font-weight: 400;
    color: #2c2c2c;
    margin-bottom: 1rem;
    cursor: pointer;
}

.item:last-child {
    margin-bottom: 0;
}