.wrapper {
    display: flex;
    flex-direction: column;
}

.alarmItem {
    color: #3c3c3c;
    font-size: 0.9rem;
    white-space: nowrap;
    margin-bottom: 1rem;
    cursor: pointer;
}

.active {
    color: #2F80ED;
}

.alarmItem:last-child {
    margin-bottom: 0;
}